.c-tabs {
    margin-top: 20px;
    background: #fff;
    padding: 20px 10px;
    text-align: center;
    font-size: 26px;
    .iconfont {
        color: #ED145B;
        font-size: 40px;
    }
    .name {
        margin-top: 8px;
    }
    .item {}
}
