.tabBar-wrap {
  background: #fff;
}
nav.bottom-nav {
  display: flex;
  justify-content: space-around;
  height: 80px;
  box-shadow: 0 8px 15px 10px rgba(0, 0, 0, 0.06);
  .item {
    flex: 1;
    text-align: center;
    .iconfont {
      font-size: 38px;
      display: block;
      margin-top: 7px;
    }
    .name {
      font-size: 20px;
    }
  }
  .item.act {
    color: #ED145B;
  }
}