.count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .price {
    font-size: 26px;
    color: #ED145B;
    font-weight: bold;
  }
  .operate {
    display: flex;
    span {
      background: #f6f6f6;
      color: #333;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 24px;
    }
    .iconfont {
      width: 50px;
    }
    .value {
      width: 70px;
      margin: 0 8px;
    }
  }
}