@font-face {
  font-family: 'iconfont';  /* project id 1726957 */
  src: url('//at.alicdn.com/t/font_1726957_pp59gfqhofj.eot');
  src: url('//at.alicdn.com/t/font_1726957_pp59gfqhofj.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1726957_pp59gfqhofj.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1726957_pp59gfqhofj.woff') format('woff'),
  url('//at.alicdn.com/t/font_1726957_pp59gfqhofj.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1726957_pp59gfqhofj.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.flex1 {
    flex: 1;
}
.justify-content-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.align-items-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.flex-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.text-line2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
}
//.van-toast--text {
//  padding: 20px 20px !important;
//}
//.van-toast {
//  font-size: 26px !important;
//}
.am-toast {
    font-size: 26px !important;
}

// 页面
.page-scroll-bottom {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .tabBar-wrap {
        position: static;
        width: 100%;
    }
}